$main-color: rgb(43, 10, 105);
$color-text: #eee;
$yellow: rgb(243, 194, 59);
$dark: #333;
$right: right;
$gray: rgb(214, 214, 214);
$blue: blue;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: FirstFont;
  src: url(sansation_light.woff);
}

@mixin menu {
  display: flex;
  align-items: center;
}

@mixin icon {
  padding: 10px;
  margin: 5px;
}

.table-control {
  padding-right: 10px;
}

.row {
  width: 100%;
}

//===================header=======================
.header {
  height: 50px;
  background-color: $main-color;
  color: $color-text;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    @include menu;
    float: left;
  }
  .header-left--logo {
    width: 50px;
    color: $color-text;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }

  .header-left--cancel {
    color: $color-text;
    width: 50px;
    height: 50px;
    background-color: rgb(29, 16, 88);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }

  .header-left--name {
    @include menu;
    font-size: 20px;
  }

  &-right {
    float: right;
    display: flex;
    justify-content: space-between;
  }
}

.header-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;

  &:hover {
    background-color: $yellow;
    color: $dark;
  }
}

// ======================menu left===============================
.left-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 50px);
}

.left-content--search {
  height: 50px;
  display: flex;
  border: 1px solid #eee;
  color: #b4b8b6;
}

.left-content--search-icon {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.left-content--search-input {
  border: none;
  overflow: visible;
  flex: 1;
}

.left-content--search-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.left-content--menu {
  list-style-type: none;
  overflow: auto;
}

.left-content--title {
  font-weight: 700;
  padding-left: 5%;
  background-color: $gray;
}

.left-content--menu-item {
  height: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    height: 50px;
    display: flex;
    align-items: center;
  }

  & i {
    width: 50px;
    text-align: center;
    color: $main-color
  }

  & a {
    float: right;
  }

  &:hover {
    background-color: $gray;
  }
}

.left-content--menu--list {
  padding-left: 30%;
}

.left-content--menu--bgcolor {
  background-color: $gray;
}

.left-content--icon:hover {
  background-color: $main-color;
}

.left__item--border {
  border-left: 5px solid $main-color;
}

.fa-chevron-circle-right {
  float: $right;
}


//===============right list elect ===================
.right {
  height: 100%;
}

.table {
  position: relative;
  height: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: auto;
}

.main-content {
  padding-right: 25px;
  height: calc(100vh - 220px);
}

.main-content-path {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $gray;
}

.right-content--list-scroll-item {
  height: 100%;
  overflow: auto;
}

.fa-print {
  color: $blue;
}

.fa-bell {
  color: orange;
}

.fa-download {
  color: green;
}

.right-content--list-elect {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.right-content--list-elect-right {
  display: flex;
  height: 30px;
  width: 350px;
  background-color: #eee;
  border-bottom: 1px solid #333;

  & i {
    padding-left: 10px;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
  }

  & input {
    flex: 1;
    border: 0px;
    background-color: #eee;
    outline: none;
  }

  &-down {
    float: right;
    padding: 2%;
  }
}

.right-content--icon-question {
  margin-left: 10px;

  & i {
    color: $blue;
  }
}

.right-content--list-elect-left {
  font-size: 23px;
  font-weight: 400;
}

.right-content--list-tools {
  margin-top: 30px;
  margin-bottom: 80px;
}

.right-content--list-tools-left {
  float: left;

  &-add {
    padding: 15px;

    &:hover {
      background-color: $yellow;
    }
  }

  .right-content--list-tools-left-print {
    @extend .right-content--list-tools-left-add;
  }

  .right-content--list-tools-left-information {
    @extend .right-content--list-tools-left-add;
  }

  .right-content--list-tools-left-list {
    @extend .right-content--list-tools-left-add;
  }
}

.right-content--list-tools-right {
  float: right;
  display: flex;
  justify-content: space-between;

  &-page {
    display: flex;
    align-items: center;
    padding-right: 10px;

    & a i {
      padding: 0px 10px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 14px;
    margin-left: 10px;
    background-color: rgb(236, 236, 236);

    &:hover {
      background-color: $yellow;
    }
  }
}

.table__icon--updown {
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 10px;
  color: gray;
}

.checkbox {
  margin-right: 10px;
}

.table__checkbox--heading {
  padding-left: 3px;
}

// content table 
thead {
  background-color: $gray;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: $gray;
}

.table__list--elect-object {
  border-left: 5px solid transparent;

  & td {
    align-items: center;
  }

  &:hover {
    background-color: $gray;
  }
}

@mixin border-color {
  border-left: 5px solid $yellow;
}

.table__list--elect-object:nth-child(1) {
  @include border-color;
}

.table__list--elect-object-item:nth-child(2) {
  @include border-color;
}

.table__list--elect-object:nth-child(3) {
  @include border-color;
}

.table__list--elect-object:nth-child(6) {
  @include border-color;
}

.table__list--elect-object:nth-child(7) {
  border-left: 5px solid red;
}

.table__list--elect-object:nth-child(8) {
  border-left: 5px solid green;
}

