* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: FirstFont;
  src: url(sansation_light.woff); }
.table-control {
  padding-right: 10px; }

.row {
  width: 100%; }

.header {
  height: 50px;
  background-color: #2b0a69;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-left {
    display: flex;
    align-items: center;
    float: left; }
  .header .header-left--logo {
    width: 50px;
    color: #eee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header-left--logo:hover {
      color: #eee;
      text-decoration: none; }
  .header .header-left--cancel {
    color: #eee;
    width: 50px;
    height: 50px;
    background-color: #1d1058;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header-left--cancel:hover {
      color: #eee;
      text-decoration: none; }
  .header .header-left--name {
    display: flex;
    align-items: center;
    font-size: 20px; }
  .header-right {
    float: right;
    display: flex;
    justify-content: space-between; }

.header-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px; }
  .header-right a:hover {
    background-color: #f3c23b;
    color: #333; }

.left-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 50px); }

.left-content--search {
  height: 50px;
  display: flex;
  border: 1px solid #eee;
  color: #b4b8b6; }

.left-content--search-icon {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center; }

.left-content--search-input {
  border: none;
  overflow: visible;
  flex: 1; }

.left-content--search-input:focus {
  outline: -webkit-focus-ring-color auto 0px; }

.left-content--menu {
  list-style-type: none;
  overflow: auto; }

.left-content--title {
  font-weight: 700;
  padding-left: 5%;
  background-color: #d6d6d6; }

.left-content--menu-item {
  height: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .left-content--menu-item span {
    height: 50px;
    display: flex;
    align-items: center; }
  .left-content--menu-item i {
    width: 50px;
    text-align: center;
    color: #2b0a69; }
  .left-content--menu-item a {
    float: right; }
  .left-content--menu-item:hover {
    background-color: #d6d6d6; }

.left-content--menu--list {
  padding-left: 30%; }

.left-content--menu--bgcolor {
  background-color: #d6d6d6; }

.left-content--icon:hover {
  background-color: #2b0a69; }

.left__item--border {
  border-left: 5px solid #2b0a69; }

.fa-chevron-circle-right {
  float: right; }

.right {
  height: 100%; }

.table {
  position: relative;
  height: 100px; }

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: auto; }

.main-content {
  padding-right: 25px;
  height: calc(100vh - 220px); }

.main-content-path {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #d6d6d6; }

.right-content--list-scroll-item {
  height: 100%;
  overflow: auto; }

.fa-print {
  color: blue; }

.fa-bell {
  color: orange; }

.fa-download {
  color: green; }

.right-content--list-elect {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; }

.right-content--list-elect-right {
  display: flex;
  height: 30px;
  width: 350px;
  background-color: #eee;
  border-bottom: 1px solid #333; }
  .right-content--list-elect-right i {
    padding-left: 10px;
    color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; }
  .right-content--list-elect-right input {
    flex: 1;
    border: 0px;
    background-color: #eee;
    outline: none; }
  .right-content--list-elect-right-down {
    float: right;
    padding: 2%; }

.right-content--icon-question {
  margin-left: 10px; }
  .right-content--icon-question i {
    color: blue; }

.right-content--list-elect-left {
  font-size: 23px;
  font-weight: 400; }

.right-content--list-tools {
  margin-top: 30px;
  margin-bottom: 80px; }

.right-content--list-tools-left {
  float: left; }
  .right-content--list-tools-left-add, .right-content--list-tools-left .right-content--list-tools-left-print, .right-content--list-tools-left .right-content--list-tools-left-information, .right-content--list-tools-left .right-content--list-tools-left-list {
    padding: 15px; }
    .right-content--list-tools-left-add:hover, .right-content--list-tools-left .right-content--list-tools-left-print:hover, .right-content--list-tools-left .right-content--list-tools-left-information:hover, .right-content--list-tools-left .right-content--list-tools-left-list:hover {
      background-color: #f3c23b; }

.right-content--list-tools-right {
  float: right;
  display: flex;
  justify-content: space-between; }
  .right-content--list-tools-right-page {
    display: flex;
    align-items: center;
    padding-right: 10px; }
    .right-content--list-tools-right-page a i {
      padding: 0px 10px; }
  .right-content--list-tools-right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 14px;
    margin-left: 10px;
    background-color: #ececec; }
    .right-content--list-tools-right-icon:hover {
      background-color: #f3c23b; }

.table__icon--updown {
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 10px;
  color: gray; }

.checkbox {
  margin-right: 10px; }

.table__checkbox--heading {
  padding-left: 3px; }

thead {
  background-color: #d6d6d6; }

.sticky {
  position: sticky;
  top: 0;
  background-color: #d6d6d6; }

.table__list--elect-object {
  border-left: 5px solid transparent; }
  .table__list--elect-object td {
    align-items: center; }
  .table__list--elect-object:hover {
    background-color: #d6d6d6; }

.table__list--elect-object:nth-child(1) {
  border-left: 5px solid #f3c23b; }

.table__list--elect-object-item:nth-child(2) {
  border-left: 5px solid #f3c23b; }

.table__list--elect-object:nth-child(3) {
  border-left: 5px solid #f3c23b; }

.table__list--elect-object:nth-child(6) {
  border-left: 5px solid #f3c23b; }

.table__list--elect-object:nth-child(7) {
  border-left: 5px solid red; }

.table__list--elect-object:nth-child(8) {
  border-left: 5px solid green; }

/*# sourceMappingURL=style.css.map */
